# {{.Title}}

前段时间，想买个泡茶杯。  
那种可以茶水分离的。  
然后，在小米有品上找了一下，最终选择了Fun Home的一款，重点其实就一个，不锈钢316。  

话说，小米保温杯2也是不锈钢316了，于是就这个吧。

但小米的购物实在是太蛋疼了，小米自己的商城好像要150包邮，有品现在是99才包邮。  
很长时间以来，都习惯在有品上找东西，但找第三方来购买了。于是就有了下面的购买记录。  



